.accordion {
}

.accordion .block{
  background-color: white;
  border-top: 2px solid #666;
}

.accordion .panel {
  background-color: white;
  display: none;
  padding: 18px;
}

.accordion .panel.open{
  display: block;
}

.accordion .opener{
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 18px;
  border: none;
  background-color: #eee;
  color: #444;
}

#mapid {
  margin-top: 50px;
  height: 80vh;
}