*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right, red, blue);
    color: whitesmoke;
}

.welcome {
    border: solid 2px white;
    border-radius: 20px;
    background: transparent;
    padding: 20px;
    width: 50vw;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    background-color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    background-color: #e6e6e6;
    scale: 1.5;
    text-decoration: underline;
}

